.text_size_m {
	font-size: var(--size-typo-m);
	line-height: var(--line-height-typo-m);
}
.text_size_m .text__word_width_s {
    width: 24px;
}
.text_size_m .text__word_width_m {
    width: 56px;
}
.text_size_m .text__word_width_l {
    width: 114px;
}
