.onoffswitch {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 97px;
    height: 32px;
    background: var(--color-bg-default);
    border: 2px solid var(--color-bg-border);
    box-sizing: border-box;
}
