.e-accordion__more {
    height: 0;
    overflow: hidden;
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    transition: height 0.2s ease-in-out;
}
.e-accordion__short_current + .e-accordion__more {
    height: 98px;
    display: block;
}
