.grid {
    display: grid;
	/* width: 100%; */
}
@media screen and (max-width: $screen-xs-max) {
    .grid_xs-columns {
        &_3 { grid-template-columns: repeat(3, 1fr); }
    }
}

@media screen and (min-width: $screen-s) {
	.grid_s-columns {
		&_3 { grid-template-columns: repeat(3, 1fr); }
		&_6 { grid-template-columns: repeat(6, 1fr); }
	}
}

@media screen and (min-width: $screen-m) {
	.grid_m-columns {
		&_12 { grid-template-columns: repeat(12, 1fr); }
		&_10 { grid-template-columns: repeat(10, 1fr); }
	}
}
