.page {
    padding: 0;
    margin: 0;
    background-color: var(--color-bg-default);
}
/* Отступы */
.theme_space_default {
	/* Отступы */
	--space-xxxs: 2px;
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-s: 12px;
	--space-m: 16px;
	--space-l: 20px;
	--space-xl: 24px;
	--space-xxl: 32px;
	--space-xxxl: 40px;
	--space-xxxxl: 48px;
	--space-xxxxxl: 72px;
	--space-xxxxxxl: 96px;
}
/* Модификации отступов */
/* дефолтная размерная линейка */
/* Отступы */
.theme_space_default {
	/* Отступы */
	--space-xxxs: 2px;
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-s: 12px;
	--space-m: 16px;
	--space-l: 20px;
	--space-xl: 24px;
	--space-xxl: 32px;
	--space-xxxl: 40px;
	--space-xxxxl: 48px;
}
/* Размеры текста */
/* Межстрочный интервал */
.theme_size_default {
	/* Размер текста */
	--size-typo-xs: 11px;
	--size-typo-s: 13px;
	--size-typo-m: 15px;
	--size-typo-l: 18px;
	--size-typo-xl: 20px;
	--size-typo-xxl: 24px;
	--size-typo-xxxl: 32px;
	--size-typo-xxxxl: 48px;
	--size-typo-xxxxxl: 72px;
	--size-typo-xxxxxxl: 96px;

	/* Межстрочный интервал */
	--line-height-typo-xs: 15px;
	--line-height-typo-s: 18px;
	--line-height-typo-m: 21px;
	--line-height-typo-l: 25px;
	--line-height-typo-xl: 28px;
	--line-height-typo-xxl: 34px;
	--line-height-typo-xxxl: 42px;
	--line-height-typo-xxxxl: 62px;
	--line-height-typo-xxxxxl: 82px;
	--line-height-typo-xxxxxxl: 115px;
}
/* Модификации размеров */
/* дефолтная линейка отступов */
/* Размеры текста */
/* Межстрочный интервал */
.theme_size_default {
	/* Размер текста */

	--size-typo-s: 7px;
	--size-typo-m: 8px;
	--size-typo-l: 10px;
	--size-typo-xl: 11px;
	--size-typo-xxl: 13px;

	/* Межстрочный интервал */

	--line-height-typo-s: 18px;
	--line-height-typo-m: 21px;
	--line-height-typo-l: 25px;
	--line-height-typo-xl: 28px;
	--line-height-typo-xxl: 34px;
}
/* цветовая схема со светлым фоном и яркими акцентными контролами. */
/* Базовые цвета от которых выстраивается вся политра */
/* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
/* Базовый цвет поверхностей */
/* Проектный цвет, от которого выстраивают акцентные состояния */
/* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
/* Ссылочный цвет, от которого выстраиваются все их состояния */
/* Цвета фона */
/* Цвет дефолта */
/* Цвет фона брендированый */
/* Цвет границ */
/* Цвета текста */
/* Цвет основного текста */
/* Цвет второстепенного текста */
/* Цвет дополнительного текста */
/* Цвета ссылок */
/* Цвет основной ссылки */
.theme_color_project-default {
    /* Цвета блоков */
    --color-bg-default: #FFFFFF; /* Цвет дефолта */
    --color-bg-brand: #0056B3; /* Цвет фона брендированый */
    --color-bg-border: #000000; /* Цвет границ */

    /* Цвета текста */
	--color-typo-primary: #000000; /* Цвет основного текста */
	--color-typo-secondary: rgba(0, 0, 0, 0.6); /* Цвет второстепенного текста */
	--color-typo-ghost: rgba(0, 0, 0, 0.3); /* Цвет дополнительного текста */

    /* Цвета ссылок */
	--color-link: #0070f0; /* Цвет основной ссылки */
}
.theme_breakpoint_default {
	--screen-xs: 320px;
	--screen-s: 720px;
	--screen-m: 1024px;
	--screen-l: 1280px;
	--screen-xl: 1440px;
	--screen-xxl: 1600px;

	--screen-xs-max: 719px;
	--screen-s-max: 1023px;
	--screen-m-max: 1279px;
	--screen-l-max: 1439px;
	--screen-xl-max: 1599px;
	--screen-xxl-max: 1920px;
}
:root {
 /* Размеры отступа у контента */
 --gap: 12px;

 /* Размеры отступов в колонках */
 --col-gap-third: calc(var(--gap) * 0.33);
 --col-gap-half: calc(var(--gap) * 0.5);
 --col-gap-two-thirds: calc(var(--gap) * 0.66);
 --col-gap-full: var(--gap);
 --col-gap-2x: calc(var(--gap) * 2);
 --col-gap-3x: calc(var(--gap) * 3);
}
@media screen and (min-width: 720px) {
 :root { --gap: 20px; }
}
@media screen and (min-width: 1024px) {
 :root { --gap: 24px; }
}
@media screen and (min-width: 1280px) {
 :root { --gap: 32px; }
}
:root {
/* Размеры отступа у контента */
--gap: 16px;

/* Размеры отступов в колонках */
--col-gap-half: calc(var(--gap) * 0.5);
--col-gap-two-thirds: calc(var(--gap) * 0.66);
--col-gap-full: var(--gap);
}
@media screen and (min-width: 1440px) {
    :root { --gap: 40px; }
}
.header {
    padding-top: var(--space-xxxl);
    padding-bottom: var(--space-xxxl);
}
.layout {
    display: grid;
}
.header__content {
    padding-left: var(--gap);
    padding-right: var(--gap);
}
.layout__container {
    width: 100%;
}
.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header__logo {
    min-width: 179px;
    max-width: 179px;
    height: 34px;
    background-color: var(--color-typo-primary);
}
/* цветовая схема с тёмным фоном и акцентными контролами. */
/* Базовые цвета от которых выстраивается вся политра */
/* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
/* Базовый цвет поверхностей */
/* Проектный цвет, от которого выстраивают акцентные состояния */
/* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
/* Ссылочный цвет, от которого выстраиваются все их состояния */
/* Цвета фона */
/* Цвет дефолта */
/* Цвет фона брендированый */
/* Цвет границ */
/* Цвета текста */
/* Цвет основного текста */
/* Цвет второстепенного текста */
/* Цвет дополнительного текста */
/* Цвета ссылок */
/* Цвет основной ссылки */
.theme_color_project-inverse {
    /* Цвета блоков */
    --color-bg-default: #000000; /* Цвет дефолта */
    --color-bg-brand: #FFFFFF; /* Цвет фона брендированый */
    --color-bg-border: #FFFFFF; /* Цвет границ */

    /* Цвета текста */
	--color-typo-primary: #FFFFFF; /* Цвет основного текста */
	--color-typo-secondary: rgba(255, 255, 255, 0.6); /* Цвет второстепенного текста */
	--color-typo-ghost: rgba(255, 255, 255, 0.3); /* Цвет дополнительного текста */

    /* Цвета ссылок */
	--color-link: #0070f0; /* Цвет основной ссылки */
}
.layout__content {
    padding: 0 var(--gap);
}
.grid {
    display: grid;
	/* width: 100%; */
}
@media screen and (max-width: 719px) {
        .grid_xs-columns_3 { grid-template-columns: repeat(3, 1fr); }
}
@media screen and (min-width: 720px) {
		.grid_s-columns_3 { grid-template-columns: repeat(3, 1fr); }
		.grid_s-columns_6 { grid-template-columns: repeat(6, 1fr); }
}
@media screen and (min-width: 1024px) {
		.grid_m-columns_12 { grid-template-columns: repeat(12, 1fr); }
		.grid_m-columns_10 { grid-template-columns: repeat(10, 1fr); }
}
.grid_col-gap_half {
    grid-column-gap: var(--col-gap-half);
}
.grid_row-gap_full {
    grid-row-gap: var(--col-gap-full);
}
.grid__fraction { min-width: 0; }
@media screen and (max-width: 719px) {
        .grid__fraction_xs-col_3 { grid-column: span 3; }
}
@media screen and (min-width: 1024px) {
		.grid__fraction_m-col_2 { grid-column: span 2; }
		.grid__fraction_m-col_3 { grid-column: span 3; }
		.grid__fraction_m-col_4 { grid-column: span 4; }
		.grid__fraction_m-col_5 { grid-column: span 5; }
		.grid__fraction_m-col_8 { grid-column: span 8; }
}
.collect {
    width: 270px;
    min-height: 380px;
}
.collect_border_all {
    border: 3px solid var(--color-bg-border);
}
.card {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
}
.card_view_default {
	background-color: var(--color-bg-default);
}
.card_border_all {
	border: 3px solid var(--color-bg-border);
}
.collect__image {
    height: 160px;
    background: var(--color-bg-brand);
}
.card__content {
	position: relative;
}
.image {
    border: 0;
}
.image {
    width: 100%;
    height: 100%;
	overflow: hidden;
}
.image_placeholder_default {
	background-image: url("data:image/svg+xml,%3C%3Fxml version%3D%221.0%22 encoding%3D%22UTF-8%22%3F%3E%3Csvg width%3D%2280px%22 height%3D%2264px%22 viewBox%3D%220 0 80 64%22 version%3D%221.1%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E    %3C!-- Generator%3A Sketch 52.5 (67469) - http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch --%3E    %3Ctitle%3Eplaceholder%3C%2Ftitle%3E    %3Cdesc%3ECreated with Sketch.%3C%2Fdesc%3E    %3Cg id%3D%22Page-1%22 stroke%3D%22none%22 stroke-width%3D%221%22 fill%3D%22none%22 fill-rule%3D%22evenodd%22%3E        %3Cg id%3D%22image-placeholder%22 transform%3D%22translate(-500.000000%2C -368.000000)%22 fill%3D%22%23000000%22 fill-rule%3D%22nonzero%22%3E            %3Cg id%3D%22Group%22 transform%3D%22translate(500.000000%2C 368.000000)%22%3E                %3Cg id%3D%22placeholder%22%3E                    %3Cpath d%3D%22M32%2C16 L48%2C16 L48%2C8 L56%2C8 L56%2C16 L64%2C16 L64%2C24 L72%2C24 L72%2C32 L80%2C32 L80%2C48 L72%2C48 L72%2C40 L64%2C40 L64%2C48 L56%2C48 L56%2C56 L48%2C56 L48%2C48 L32%2C48 L32%2C56 L24%2C56 L24%2C48 L16%2C48 L16%2C40 L8%2C40 L8%2C48 L0%2C48 L0%2C32 L8%2C32 L8%2C24 L16%2C24 L16%2C16 L24%2C16 L24%2C8 L32%2C8 L32%2C16 Z M24%2C32 L32%2C32 L32%2C24 L24%2C24 L24%2C32 Z M16%2C0 L24%2C0 L24%2C8 L16%2C8 L16%2C0 Z M16%2C56 L24%2C56 L24%2C64 L16%2C64 L16%2C56 Z M56%2C32 L56%2C24 L48%2C24 L48%2C32 L56%2C32 Z M64%2C0 L64%2C8 L56%2C8 L56%2C0 L64%2C0 Z M64%2C56 L64%2C64 L56%2C64 L56%2C56 L64%2C56 Z%22 id%3D%22Shape%22%3E%3C%2Fpath%3E                %3C%2Fg%3E            %3C%2Fg%3E        %3C%2Fg%3E    %3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
}
.collect__progress {
    border-bottom: 3px solid var(--color-bg-border);
}
.collect__done {
    height: 8px;
    background-color: var(--color-link);
}
.collect__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.card__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.collect__title {
    margin-bottom: var(--space-s);
}
.card__footer .collect__title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.text_view_primary {
	color: var(--color-typo-primary);
}
.text_size_l {
	font-size: var(--size-typo-l);
	line-height: var(--line-height-typo-l);
}
.text_size_l {
	font-size: var(--size-typo-l);
	line-height: var(--line-height-typo-l);
}
.text_size_l .text__word_width_s {
    width: 28px;
}
.text_size_l .text__word_width_m {
    width: 68px;
}
.text_size_l .text__word_width_l {
    width: 138px;
}
.text__word {
    display: inline-block;
}
.text_size_s .text__word {
    height: 7px;
}
.text_size_m .text__word {
    height: 8px;
}
.text_size_l .text__word {
    height: 10px;
}
.text_size_xl .text__word {
    height: 11px;
}
.text_size_xxl .text__word {
    height: 13px;
}
.text_view_primary > .text__word {
	background: var(--color-typo-primary);
}
.text_view_secondary > .text__word {
	background: var(--color-typo-secondary);
}
.text_view_ghost > .text__word {
	background: var(--color-typo-ghost);
}
.text_view_link > .text__word {
	background: var(--color-link);
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
.text_view_link > .text__word:hover {
		background: var(--color-link-hover);
	}
.text_size_s .text__word_width_m {
    width: 48px;
}
.text_size_m .text__word_width_m {
    width: 56px;
}
.text_size_l .text__word_width_m {
    width: 68px;
}
.text_size_xl .text__word_width_m {
    width: 74px;
}
.text_size_xxl .text__word_width_m {
    width: 88px;
}
.text_view_secondary {
	color: var(--color-typo-secondary);
}
.text_size_m {
	font-size: var(--size-typo-m);
	line-height: var(--line-height-typo-m);
}
.text_size_m {
	font-size: var(--size-typo-m);
	line-height: var(--line-height-typo-m);
}
.text_size_m .text__word_width_s {
    width: 24px;
}
.text_size_m .text__word_width_m {
    width: 56px;
}
.text_size_m .text__word_width_l {
    width: 114px;
}
.text_size_s .text__word_width_s {
    width: 20px;
}
.text_size_m .text__word_width_s {
    width: 24px;
}
.text_size_l .text__word_width_s {
    width: 28px;
}
.text_size_xl .text__word_width_s {
    width: 32px;
}
.text_size_xxl .text__word_width_s {
    width: 36px;
}
.collect__done_size_one-third {
    width: 33.33333%;
}
.collect__done_size_half {
    width: 50%;
}
.layout__container_space-v_xxxxl {
    padding-top: var(--space-xxxxl);
    padding-bottom: var(--space-xxxxl);
}
.grid_col-gap_full {
	grid-column-gap: var(--col-gap-full);
}
.list_view_default {
	background: var(--color-bg-default);
}
.list__item {
	position: relative;
}
.icon-plus {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}
.icon-plus_vertical-align_center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.icon-plus_vertical-align_center .pt-icon-plus__icon {
		margin-top: 0;
	}
.articles__pic {
    width: 170px;
    height: 120px;
    background: var(--color-bg-default);
}
.icon-plus__icon {
	margin-top: 0.2em;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}
.image_placeholder_default-inverse {
    background-image: url("data:image/svg+xml,%3C%3Fxml version%3D%221.0%22 encoding%3D%22UTF-8%22%3F%3E%3Csvg width%3D%2280px%22 height%3D%2264px%22 viewBox%3D%220 0 80 64%22 version%3D%221.1%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E    %3C!-- Generator%3A Sketch 52.5 (67469) - http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch --%3E    %3Ctitle%3Eplaceholder%3C%2Ftitle%3E    %3Cdesc%3ECreated with Sketch.%3C%2Fdesc%3E    %3Cg id%3D%22Page-1%22 stroke%3D%22none%22 stroke-width%3D%221%22 fill%3D%22none%22 fill-rule%3D%22evenodd%22%3E        %3Cg id%3D%22image-placeholder%22 transform%3D%22translate(-620.000000%2C -368.000000)%22 fill%3D%22%23FFFFFF%22 fill-rule%3D%22nonzero%22%3E            %3Cg id%3D%22Group%22 transform%3D%22translate(500.000000%2C 368.000000)%22%3E                %3Cg id%3D%22placeholder%22 transform%3D%22translate(120.000000%2C 0.000000)%22%3E                    %3Cpath d%3D%22M32%2C16 L48%2C16 L48%2C8 L56%2C8 L56%2C16 L64%2C16 L64%2C24 L72%2C24 L72%2C32 L80%2C32 L80%2C48 L72%2C48 L72%2C40 L64%2C40 L64%2C48 L56%2C48 L56%2C56 L48%2C56 L48%2C48 L32%2C48 L32%2C56 L24%2C56 L24%2C48 L16%2C48 L16%2C40 L8%2C40 L8%2C48 L0%2C48 L0%2C32 L8%2C32 L8%2C24 L16%2C24 L16%2C16 L24%2C16 L24%2C8 L32%2C8 L32%2C16 Z M24%2C32 L32%2C32 L32%2C24 L24%2C24 L24%2C32 Z M16%2C0 L24%2C0 L24%2C8 L16%2C8 L16%2C0 Z M16%2C56 L24%2C56 L24%2C64 L16%2C64 L16%2C56 Z M56%2C32 L56%2C24 L48%2C24 L48%2C32 L56%2C32 Z M64%2C0 L64%2C8 L56%2C8 L56%2C0 L64%2C0 Z M64%2C56 L64%2C64 L56%2C64 L56%2C56 L64%2C56 Z%22 id%3D%22Shape%22%3E%3C%2Fpath%3E                %3C%2Fg%3E            %3C%2Fg%3E        %3C%2Fg%3E    %3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
}
.articles__content > .text:last-child {
    margin-top: var(--space-xs);
}
.icon-plus__block {
	position: relative;
	top: 1px; /* fix */
}
.text_view_link {
	color: var(--color-link);
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
.text_view_link:hover {
		color: var(--color-link-hover);
	}
.offer {
    min-height: 408px;
}
/* цветовая схема с ярким фоном и светлыми акцентными контролами. */
/* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
/* Базовый цвет поверхностей */
/* Проектный цвет, от которого выстраивают акцентные состояния */
/* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
/* Ссылочный цвет, от которого выстраиваются все их состояния */
/* Цвета фона */
/* Цвет дефолта */
/* Цвет фона брендированый */
/* Цвет границ */
/* Цвета текста */
/* Цвет основного текста */
/* Цвет второстепенного текста */
/* Цвет дополнительного текста */
/* Цвета ссылок */
/* Цвет основной ссылки */
.theme_color_megafon-brand {
    /* Цвета блоков */
    --color-bg-default: #1FA55D; /* Цвет дефолта */
    --color-bg-brand: #FFFFFF; /* Цвет фона брендированый */
    --color-bg-border: #FFFFFF; /* Цвет границ */

    /* Цвета текста */
	--color-typo-primary: #FFFFFF; /* Цвет основного текста */
	--color-typo-secondary: rgba(255, 255, 255, 0.6); /* Цвет второстепенного текста */
	--color-typo-ghost: rgba(255, 255, 255, 0.3); /* Цвет дополнительного текста */

    /* Цвета ссылок */
	--color-link: #FFF; /* Цвет основной ссылки */
}
/*
Значения фонов блоков:
Значения фонов блоков:
- дефолтный: #1FA55D;
- акцентный: #FFFFFF;
- бордерный: #FFFFFF.

Значения состояний текста:
- основной: #FFFFFF;
- второстепенный: rgba(255, 255, 255, 0.6);
- дополнительный: rgba(255, 255, 255, 0.3),
- ссылочный: #FFF.
*/
.brand-logo {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: relative;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.brand-logo {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: relative;
}
.brand-logo_name_megafon {
	background-image: url("data:image/svg+xml,%3C%3Fxml version%3D%221.0%22 encoding%3D%22UTF-8%22%3F%3E%3Csvg width%3D%2260px%22 height%3D%2260px%22 viewBox%3D%220 0 60 60%22 version%3D%221.1%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E    %3C!-- Generator%3A Sketch 41.2 (35397) - http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch --%3E    %3Ctitle%3Emegafon%3C%2Ftitle%3E    %3Cdesc%3ECreated with Sketch.%3C%2Fdesc%3E    %3Cdefs%3E%3C%2Fdefs%3E    %3Cg id%3D%22Symbols%22 stroke%3D%22none%22 stroke-width%3D%221%22 fill%3D%22none%22 fill-rule%3D%22evenodd%22%3E        %3Cg id%3D%22megafon%22%3E            %3Cpath d%3D%22M0%2C30 C0%2C13.4314575 13.4315082%2C7.10542736e-15 29.9945354%2C7.10542736e-15 L30%2C7.10542736e-15 L30.0054646%2C7.10542736e-15 C46.5709891%2C7.10542736e-15 60%2C13.4278145 60%2C30 L60%2C30 C60%2C46.5685425 46.5721855%2C60 30%2C60 L30%2C60 C13.4314575%2C60 0%2C46.5721855 0%2C30 L0%2C30 Z%22 id%3D%22base%22 fill%3D%22%2300985F%22 transform%3D%22translate(30.000000%2C 30.000000) rotate(-270.000000) translate(-30.000000%2C -30.000000) %22%3E%3C%2Fpath%3E            %3Cg id%3D%22slice%22 transform%3D%22translate(15.000000%2C 15.000000)%22 fill%3D%22%23FFFFFF%22%3E                %3Cpath d%3D%22M16.8350525%2C-3.55271368e-15 L16.8350525%2C14.9429738 L16.8350525%2C15.5243754 L16.8350525%2C15.5341892 L16.8332006%2C15.5360458 C16.8271159%2C16.2094849 16.2805496%2C16.7511007 15.6072624%2C16.7511007 L15.0310661%2C16.7511007 L13.7598892%2C16.7511007 C13.6678248%2C16.7518965 13.59375%2C16.8264283 13.59375%2C16.9189963 L13.59375%2C29.9352819 C14.051162%2C29.9771895 14.5136005%2C30 14.9815947%2C30 C23.2761227%2C30 30%2C23.2584478 30%2C14.9424434 C30%2C7.25637897 24.2549686%2C0.915601294 16.8350525%2C-3.55271368e-15 L16.8350525%2C-3.55271368e-15 Z M16.4061179%2C23.4375 C15.3707786%2C23.4375 14.53125%2C22.5982948 14.53125%2C21.5625 C14.53125%2C20.5272337 15.3707786%2C19.6875 16.4061179%2C19.6875 C17.4417214%2C19.6875 18.28125%2C20.5272337 18.28125%2C21.5625 C18.28125%2C22.598559 17.4417214%2C23.4375 16.4061179%2C23.4375 L16.4061179%2C23.4375 Z M21.0936179%2C23.4375 C20.0582786%2C23.4375 19.21875%2C22.5982948 19.21875%2C21.5625 C19.21875%2C20.5272337 20.0582786%2C19.6875 21.0936179%2C19.6875 C22.1292214%2C19.6875 22.96875%2C20.5272337 22.96875%2C21.5625 C22.9684857%2C22.598559 22.1292214%2C23.4375 21.0936179%2C23.4375 L21.0936179%2C23.4375 Z M25.3125%2C23.4375 C24.2770877%2C23.4375 23.4375%2C22.5982948 23.4375%2C21.5625 C23.4375%2C20.5272337 24.2770877%2C19.6875 25.3125%2C19.6875 C26.3479123%2C19.6875 27.1875%2C20.5272337 27.1875%2C21.5625 C27.1872357%2C22.598559 26.3479123%2C23.4375 25.3125%2C23.4375 Z M15.0904506%2C14.9351876 C15.1804708%2C14.9351876 15.2530765%2C14.8659945 15.2587027%2C14.7791742 L15.2595065%2C0.00315709997 L15.46875%2C0.00315709997 C15.3824806%2C0.00157854998 15.2959432%2C-3.55271368e-15 15.2094059%2C-3.55271368e-15 C6.80938999%2C-3.55271368e-15 0%2C6.68673773 0%2C14.9349245 C0%2C22.0944379 5.1300834%2C28.0758269 11.9769818%2C29.53125 L11.9769818%2C16.1293606 L11.9775177%2C16.1288345 C11.9914494%2C15.4829444 12.5160317%2C14.9609706 13.1705541%2C14.9362399 L13.1718937%2C14.9351876 L13.803643%2C14.9351876 C13.803643%2C14.9351876 15.0904506%2C14.9351876 15.0904506%2C14.9351876 Z M12.1876321%2C12.1875 C11.1520286%2C12.1875 10.3125%2C11.3481765 10.3125%2C10.3127643 C10.3125%2C9.27735201 11.1520286%2C8.4375 12.1876321%2C8.4375 C13.2229714%2C8.4375 14.0625%2C9.27735201 14.0625%2C10.3127643 C14.0625%2C11.3481765 13.2229714%2C12.1875 12.1876321%2C12.1875 L12.1876321%2C12.1875 Z%22 id%3D%22shape%22%3E%3C%2Fpath%3E            %3C%2Fg%3E        %3C%2Fg%3E    %3C%2Fg%3E%3C%2Fsvg%3E");
}
.brand-logo_name_megafon {
    background-color: #33c778;
}
.brand-logo_size_m {
	width: 60px;
	height: 60px;
}
.offer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
.offer__footer > .text:nth-child(1),
.offer__footer > .text:nth-child(2) {
    margin-bottom: var(--space-xs);
}
.card__footer_space-a_xl {
	padding: var(--space-xl);
}
.text_view_ghost {
	color: var(--color-typo-ghost);
}
.text_size_s {
	font-size: var(--size-typo-s);
	line-height: var(--line-height-typo-s);
}
.text_size_s {
	font-size: var(--size-typo-s);
	line-height: var(--line-height-typo-s);
}
.text_size_s .text__word_width_s {
    width: 20px;
}
.text_size_s .text__word_width_m {
    width: 48px;
}
.text_size_s .text__word_width_l {
    width: 100px;
}
.text_size_xxl {
	font-size: var(--size-typo-xxl);
	line-height: var(--line-height-typo-xxl);
}
.subscription {
    min-height: 408px;
}
/* цветовая схема с ярким фоном и светлыми акцентными контролами. */
/* Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ... */
/* Базовый цвет поверхностей */
/* Проектный цвет, от которого выстраивают акцентные состояния */
/* Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
/* Ссылочный цвет, от которого выстраиваются все их состояния */
/* Цвета фона */
/* Цвет дефолта */
/* Цвет фона брендированый */
/* Цвет границ */
/* Цвета текста */
/* Цвет основного текста */
/* Цвет второстепенного текста */
/* Цвет дополнительного текста */
/* Цвета ссылок */
/* Цвет основной ссылки */
.theme_color_project-brand {
    /* Цвета блоков */
    --color-bg-default: #0070f0; /* Цвет дефолта */
    --color-bg-brand: #FFFFFF; /* Цвет фона брендированый */
    --color-bg-border: #FFFFFF; /* Цвет границ */

    /* Цвета текста */
	--color-typo-primary: #FFFFFF; /* Цвет основного текста */
	--color-typo-secondary: rgba(255, 255, 255, 0.6); /* Цвет второстепенного текста */
	--color-typo-ghost: rgba(255, 255, 255, 0.3); /* Цвет дополнительного текста */

    /* Цвета ссылок */
	--color-link: #FFFFFF; /* Цвет основной ссылки */
}
.subscription__info > .text {
    margin-bottom: var(--space-s);
}
.subscription__info > .text:first-child {
    margin-bottom: var(--space-xl);
}
.subscription__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
.subscription__control {
    width: 100%;
}
.subscription__control > .input {
    margin-bottom: var(--space-s);
}
.input {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.input {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: var(--color-bg-default);
    border: 3px solid var(--color-bg-border);
    color: var(--color-typo-primary);
    width: 100%;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.input__control {
    display: none;
}
.input_size_l {
    height: 42px;
}
.button {
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
.button {
    display: inline-block;
    background-color: var(--color-bg-brand);
    color: var(--color-control-typo-primary);
    display: inline-block;
    width: auto;
    border: 0;
    margin: initial;
    font-weight: 400;
    text-align: center;
    width: 200px;
    font-family: inherit;
    text-decoration: none;
    -webkit-transition: background .15s ease,color .15s ease,fill .15s ease,-webkit-box-shadow .15s ease;
    transition: background .15s ease,color .15s ease,fill .15s ease,-webkit-box-shadow .15s ease;
    transition: background .15s ease,box-shadow .15s ease,color .15s ease,fill .15s ease;
    transition: background .15s ease,box-shadow .15s ease,color .15s ease,fill .15s ease,-webkit-box-shadow .15s ease;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.button_size_l {
    width: 200px;
    height: 42px;
}
.button_width_full {
    width: 100%;
}
.footer {
    padding-top: var(--space-xxxl);
    padding-bottom: var(--space-xxxl);
}
.footer__content {
    padding-left: var(--gap);
    padding-right: var(--gap);
}
.text_align_right {
	text-align: right;
}
.layout__container_align_center {
    margin: 0 auto;
}
.layout__container_size_m {
    max-width: 1144px;
}
.layout__container_space-v_xxxxxl {
    padding-top: var(--space-xxxxxl);
    padding-bottom: var(--space-xxxxxl);
}
.collect__done_size_two-third {
    width: 66.66667%;
}
.card__footer_space-a_l {
	padding: var(--space-l);
}
.text_size_s .text__word_width_l {
    width: 100px;
}
.text_size_m .text__word_width_l {
    width: 114px;
}
.text_size_l .text__word_width_l {
    width: 138px;
}
.text_size_xl .text__word_width_l {
    width: 154px;
}
.text_size_xxl .text__word_width_l {
    width: 184px;
}
.list__item_indent-b_xl {
	margin-bottom: var(--space-xl);
}
.list__item_indent-b_xl:last-child {
		margin-bottom: 0;
	}
.icon-plus__icon_indent-r_m {
	margin-right: var(--space-m);
}
.card__content_space-a_xl {
	padding: var(--space-xl);
}
.list__item_space-b_s {
	padding-bottom: var(--space-s);
}
.list__item_space-b_s:last-child {
		padding-bottom: 0;
	}