.grid__fraction { min-width: 0; }

@media screen and (max-width: $screen-xs-max) {
    .grid__fraction_xs-col {
        &_3 { grid-column: span 3; }
    }
}

@media screen and (min-width: $screen-m) {
	.grid__fraction_m-col {
		&_2 { grid-column: span 2; }
		&_3 { grid-column: span 3; }
		&_4 { grid-column: span 4; }
		&_5 { grid-column: span 5; }
		&_8 { grid-column: span 8; }
	}
}
