.input {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background: var(--color-bg-default);
    border: 3px solid var(--color-bg-border);
    color: var(--color-typo-primary);
    width: 100%;
    touch-action: manipulation;
}
.input__control {
    display: none;
}
